html {
  background: url("../images/time-off-background-17.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; }

.table-tpl, .td-tpl {
  border: 5px solid yellow;
  padding: 2px; }

.img-activity {
  height: auto;
  max-width: 150px; }

#tbl-section {
  height: 100vh; }

.container-slotmachine {
  margin: auto;
  padding: 10px; }

#container-logo {
  text-indent: -100000px;
  background-image: url("../images/timeoff-logo-18.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 141px;
  width: 80%;
  margin: 0 auto;
  max-width: 714px;
  margin-top: 20px; }

#continentImg {
  height: auto;
  max-width: 150px;
  max-height: 130px;
}

#countryImg {
  height: auto;
  max-width: 150px; }

#cityImg {
  height: auto;
  max-width: 150px; }

#table {
  display: table;
  text-align: center;
  width: 80%;
  margin: 3% auto 0;
  border-collapse: separate; }

.table_row {
  display: table-row; }

.first-section {
  height: 100vh; }

table td {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.rectangle {
  background-color: #f8582e;
  height: auto;
  width: auto; }

.animation {
  animation: pulse 1s infinite;
  animation-iteration-count: 3; }

@keyframes pulse {
  0% {
    background-color: #f8582e; }
  20% {
    background-color: purple; }
  40% {
    background-color: red; }
  60% {
    background-color: yellow; }
  80% {
    background-color: #f8582e; }
  100% {
    background-color: purple; } }
.results-named {
  font-family: "Fugaz One", cursive;
  color: yellow; }

#container-button-play {
  text-align: center;
  padding-bottom: 50px; }

.play-button {
  background-color: yellow;
  border: 5px solid #f8582e;
  font-size: 19px;
  letter-spacing: 0.2em;
  color: #110d2b;
  font-family: "Fugaz One", cursive;
  padding: 15px 150px;
  cursor: pointer;
  box-shadow: 0 9px rgba(0, 0, 0, 0.5); }

.more-info-button {
  border: none;
  color: yellow;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none; }

#more-info {
  float: right;
  padding-right: 50px; }

#resultsDisplay {
  color: yellow;
  width: 80%;
  text-align: center;
  margin: auto; }

#img-tpl {
  width: 250px;
  height: 200px; }

h2 {
  font-weight: normal;
  font-family: "Fugaz One", cursive;
  color: yellow;
  border-bottom: 2px solid #f8582e; }

#how-it-works {
  width: 80%;
  margin: 3% auto 0; }

#how-it-works > p {
  color: yellow;
  font-size: 25px;
  letter-spacing: 0.05em; }

p > span {
  background-color: #f8582e; }

.start-spinning {
  border: none;
  color: yellow;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none; }

#start-spinning {
  float: right;
  padding-right: 50px; }

a {
  display: inline-block;
  color: #f8582e;
  text-decoration: none; }

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f8582e;
  transition: width .3s; }

a:hover::after {
  width: 100%; }

.play-button:hover {
  background-color: #f8582e;
  border-color: yellow; }

.play-button:active {
  background-color: #f8582e;
  border-color: yellow;
  box-shadow: 0 5px black;
  transform: translateY(4px); }

footer {
  padding-top: 20px;
  color: rgba(248, 88, 46, 0.5);
  margin-left: 10%; }

footer:hover {
  color: #f8582e; }

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width: 667px) {
  #how-it-works > p {
    font-size: 15px; }

  a.start-spinning {
    display: inline-block;
    border-bottom: 2px solid #f8582e; }

  a.more-info-button {
    border-bottom: 2px solid #f8582e; } }

/*# sourceMappingURL=nicole.css.map */
