$orange: #f8582e;
$blue-dark: #110d2b;
$purple-dark: #1e192d;
$purple-light: #3b264f;
$white: #efefef;
$fugaz:'Fugaz One', cursive;
$Montserrat: 'Montserrat', sans-serif;

// color code for yellow still to be defined
// to circle image
// img {
//  clip-path: circle(50%);
//}

//GENERAL

html {
  background: url("../images/time-off-background-17.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

// TEMPLATE

.table-tpl , .td-tpl {
  border: 2px solid yellow;
}



// WHOLE CONTAINER

.container-slotmachine {
  margin: auto;
  padding: 10px;
}

#container-logo {
  text-indent: -100000px;
  background-image: url("../images/timeoff-logo-18.png");
  background-size:contain;
  background-repeat:no-repeat;
  height: 141px;
  width: 80%;
  margin: 0 auto;
  max-width: 714px;
  margin-top: 20px;
}


//FIRST SECTION

#table {
  display: table;
  text-align: center;
  width: 80%;
  margin: 3% auto 0;
  border-collapse: separate;
}

.table_row {
  display: table-row;
}


.first-section {
  height: 130vh;
}


table td {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}


.rectangle {
  background-color: $orange;
  height: 370px;
  width: 350px;
}

.results-named {
  font-family: $fugaz;
  color: yellow;
}

#container-button-play {
  text-align: center;
}


.play-button {

  background-color: yellow;
  border: 5px solid $orange;
  font-size: 19px;
  letter-spacing: 0.2em;
  color: $blue-dark;
  font-family: $fugaz;
  padding: 15px 150px;
}

.more-info-button {
  border: none;
  border-bottom: 2px solid $orange;
  color: yellow;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none;
}

#more-info {
  float:right;
  padding-right: 50px;

}

//TEMPLATE

.resultsDisplay {
  color: yellow;
}

//SECOND SECTION

.second-section {
  height: 100vh;
}

h2 {
  font-weight: normal;
  font-family: $fugaz;
  color: yellow;
  border-bottom: 2px solid $orange;
}

#how-it-works {
  width: 80%;
  margin: 3% auto 0;

}

#how-it-works >p {
  color: yellow;
  font-size: 25px;
  letter-spacing: 0.05em;
}

p > span {
  background-color: $orange;
}



.start-spinning {
  border: none;
  border-bottom: 2px solid $orange;
  color: yellow;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none;
}

#start-spinning {
  float:right;
  padding-right: 50px;
}


// hover links

a:hover {
  border: 2px solid #e9ecef;
}